# Ignore everything
nvim/*
gtk/.icons/*
# Except this
!nvim/init.lua
!gtk/.icons/default

**/*log
**/*tmp
**/*bkp
**/*zip
**/*old
*bkp
*old
*tmp
*zip
*log
.vim/.netrwhist
scripts/colors.json
waybar/modules/.env
zsh/plugins/*
gtk/gtk-3.0/bookmarks
