# Ignore everything
nvim/*
# Except this
!nvim/init.lua

**/*log
**/*tmp
**/*bkp
**/*zip
**/*old
*bkp
*old
*tmp
*zip
*log
dunst/ 
.vim/.netrwhist
scripts/colors.json
waybar/modules/.env
zsh/plugins/*
gtk/gtk-3.0/bookmarks