# Ignore everything
.config/nvim/*
.icons/*
# Except this
!.config/nvim/init.lua
!.icons/default

.config/ags/types
.config/hypr/devices.conf
**/*log
**/*tmp
**/*bkp
**/*zip
**/*old
*bkp
*old
*tmp
*zip
*log
.vim/.netrwhist
scripts/colors.json
.config/waybar/modules/.env
.config/zsh/plugins/*
.config/gtk-3.0/bookmarks
