/* Wal */
@import "../../../.cache/wal/colors-waybar.css";
* {
	border: none;
	border-radius: 0;
	font-size: 16px;
	min-height: 2px;

}

window.bar {
  background-color: @background; 
/*	background-color: @color11; */
	border: 3px solid @color11;	
	opacity: 0.7;
	font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif; 
}

button {
	min-width: 0;
	padding-top: 0;
	padding-bottom: 0;
	background-color: transparent;
}

label {
	font-weight: bold;
	color: @color11;
}

.volume {
	color: @color11; 
}

.volume.slider {
	color: @color11; 
}

.workspace {
	font-weight: bold;
	font-style: normal;
	opacity: 0.8;
}

.workspaces button {
	color: @color11;
	background: transparent;
	transition: all 0.3s ease-in-out;
	margin: 6px;
}

.workspaces button.focused {
	background-color: @color10;
	opacity: 0.7;
}

.workspaces button:hover {
  opacity: 0.8; 
  color: gray;
/*	background-color: @color10; */
}

..notification {
	color: @color11;
}

levelbar block,
highlight {
	min-height: 10px;
}
